
.watchlist-empty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    color: #fff;
    background-color:  rgb(18, 18, 18);
}